{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
	<head>
		<title>Template is working!</title>
	</head>
	<link rel="stylesheet" href='{% static "css/base.css" %}' />

<body>

<div class='container'>

{% block content %} 

		<p>{{ title }} esta funcionando!</p>

{% for evg in lista_evangelistas %}

{% url "cadastro:detail" id=evg.id %}'>{{ evg.nome }}</a><br/>

<a href='{{ evg.get_absolute_url }}'>{{ evg.nome }}</a><br/>
{{ evg.igreja }} <br/>
{{ evg.funcao }} <br/><br/>

{% endfor %}

{% endblock content %} 


</div>

<img src='{% static "img/beach.jpg" %}' />

</body>

</html>