{% extends "base.html" %}

{% block content %} 

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<h1>{{ instance.nome }}</h1> <br/>
{{ instance.igreja }} <br/>
{{ instance.funcao }} <br/><br/>
<!-- <a href='{{ instance.get_edit_url }}'>editar</a><br/>  -->

{% if instance.foto_perfil %}
<img src='{{ instance.foto_perfil.url }}' class='img-responsive' />
{% endif %}

<a href="{{ instance.get_edit_url }}" class="btn btn-danger" role="button">Editar</a></p>

{% endblock content %} 